<!-- This API is developed by Fatih KUROĞLU - Ahenk ERP ve Danışmanlık Hizmeleri - +90 552 463 46 50 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student Grade System</title>
</head>
<body class="max-h-screen">

    <div class="absolute top-0 right-0 -z-10 h-screen max-h-screen w-screen bg-[url('/static/images/system/working-student.jpg')] bg-cover bg-right-top"></div>

    <div class="flex justify-start items-start md:items-center w-full h-screen max-h-screen bg-gradient-to-r from-white/70 to-transparent overflow-y-auto overflow-scroll overscroll-contain">
        <div class="w-full md:w-2/3 xl:w-1/2 p-6">
            <h1 class="text-4xl font-bold text-center">Student Grade System</h1>
            <div class="flex justify-center items-start md:items-center mt-10">
                <div class="w-full md:w-2/3 xl: 2xl:w-1/2 text-justify text-black/70 flex flex-col gap-8">

                    <p class="w-full text-center text-black/85 text-xl">Welcome to our platform!</p>

                    <p class="indent-6">Here, we present you with a versatile and user-friendly student grade system that caters to the needs of educators in efficiently managing and tracking student performance.</p>

                    <p class="indent-6">With our innovative solution, teachers may choose to streamline their grading processes, making it easier than ever to document and access students' academic achievements.</p>

                    <p class="indent-6">
                        Our system offers a seamless experience, allowing teachers to effortlessly assign and update grades,while students gain a transparent view of their progress across various courses. 
                    </p>

                    <p class="indent-6">
                        Our system is designed to be intuitive and easy to use, with a clean and simple interface that allows users to navigate the platform with ease.
                    </p>

                    <p class="indent-6">
                        Whether you're a seasoned educator or just starting, our student grade system provides the tools and features necessary to enhance the educational journey.
                    </p>
                </div>
            </div>
        </div>

    </div>


    
</body>
</html>